@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #6c757d;
}

.container {
  margin: 50px;

  .message {
    background-color: #4b4b4b;
    color: #fff;
    border-radius: .2em;
    position: relative;
    max-width: 340px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    padding: 12px;
    p {
      margin-bottom: 0;
    }
  }

  .message:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 85%;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top-color: #4b4b4b;
    border-bottom: 0;
    margin-left: -20px;
    margin-bottom: -8px;
  }
  .form-box {

    max-width: 340px;
    border: 1px solid #d6d6d6;

    .progress {
      border-radius: 0;
      height: 0.6rem;
      .progress-bar {
        background-color: #f26943;
      }
    }

    &__content {
      padding: 20px;

      .info {
        margin-bottom: 30px;

        .orange {
          color: #f26943;
        }
      }

      .main-form {

        .form-group {
          textarea {
            height: 120px;
          }
          a {
            font-style: italic;
            text-decoration: none;
            color: #28a745;
          }
          #name-error {
            color: red;
            margin-bottom: 0;
            font-size: .8em;
            display: none;
          }
          #email-error {
            color: red;
            margin-bottom: 0;
            font-size: .8em;
            display: none;
          }
        }

        .special-row {
          display: flex;
          justify-content: space-between;
          .special {
            width: 49%;
            height: 55px;
          }
          .green {
            padding: 14px 40px;
          }
        }
      }
    }
  }
}

@media (min-width: 400px) {

  .container {
    margin: 0px;
  }
}

@media (min-width: 768px) {
  .container {
    margin: 20px;
  }
}
